// Custom variables (overrides).

// Header margin on admin pages

.user-logged-in {
	.navbar {
		top: 39.677px;
	}
	&.toolbar-tray-open {
		.navbar {
			top: 78.677px;
		}
	}
}

// Margin with Fixed top Navbar

.bg-wrapper {
	margin-top: 5rem;
	.page-node-type-frontispiece & {
		margin-top: 0.5rem;
	}
}

// Navbar colors

.navbar.navbar-before-scroll {
	.responsive-menu-toggle-icon:before,
	.responsive-menu-toggle-icon:after,
	.responsive-menu-toggle-icon span.icon {
		background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
	}
}
.navbar.navbar-before-scroll.navbar-after-scroll {
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
	.navbar-brand a.site-title {
		color: #FFF;
	}
	.responsive-menu-toggle-icon:before,
	.responsive-menu-toggle-icon:after,
	.responsive-menu-toggle-icon span.icon {
		background: #FFF;
	}
}
.page-node-type-frontispiece {
	.navbar.navbar-before-scroll {
		.responsive-menu-toggle-icon:before,
		.responsive-menu-toggle-icon:after,
		.responsive-menu-toggle-icon span.icon {
			background: #FFF;
		}
		.navbar-brand a.site-title {
			color: #FFF;
		}
	}
	.navbar.navbar-before-scroll.navbar-after-scroll {
		background-color: #FFF;
		.responsive-menu-toggle-icon:before,
		.responsive-menu-toggle-icon:after,
		.responsive-menu-toggle-icon span.icon {
			background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
		}
		.navbar-brand a.site-title {
			color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
		}
	}
	&.text-bg-dark ,
	&.text-bg-secondary {
		.navbar.navbar-before-scroll.navbar-after-scroll {
			.responsive-menu-toggle-icon:before,
			.responsive-menu-toggle-icon:after,
			.responsive-menu-toggle-icon span.icon {
				background: #FFF;
			}
			.navbar-brand a.site-title {
				color: #FFF;
			}
		}
	}
	&.text-bg-secondary {
		.navbar.navbar-before-scroll.navbar-after-scroll {
			background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1));
		}
	}
	&.text-bg-dark {
		.navbar.navbar-before-scroll.navbar-after-scroll {
			background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
		}
	}
}

// Navbar top image

.navbar-top {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(img/header-bg.webp);
	content: ' ';
	display: block;
	padding: 2px;
	--bs-bg-opacity: 1;
	background-color: transparent;
}

.card {
	@include media-breakpoint-down(sm) {
	margin-left: -1.25rem;
	margin-right: -1.25rem;
	}
}

// Image cover

.img-cover img, img.img-cover {
	object-fit: cover;
	object-position: center center;
	transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
	height: 300px;
	@include media-breakpoint-up(md) {
		height: 100%;
	}
}
.img-cover .field--name-field-image {
	height: inherit;
}

//Back to top

#backtotop {
	background-image: url(img/backtotop.png);
	opacity: 0.5;
}

// Responsive menu

// Menu panel color

.mm-menu_theme-dark {
    --mm-color-background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}
.mm-page, .mm-wrapper_background body {
    background-color: inherit;
}

// Contact forms

form.contact-message-feedback-form {
	@include media-breakpoint-up(md) {
		margin: auto;
		width: 50%;
	}
}

// Typography

ul {
	@include media-breakpoint-down(sm) {
	padding-left: 1rem;
	}
}
::marker {
	color: var(--bs-secondary);
}
.field--name-body {
	h2 {
		color: var(--bs-secondary);
	}
	h3, h4 {
		color: $dark;
		width: 30vw;
	}
	.text-bg-secondary & {
		h2, h3 {
			color: var(--bs-heading-color);
		}
	}
}

// Colors on dark theme

.text-bg-secondary {
	a {
		color: $navbar-dark-color;
		&:hover,
		&:focus	{
			color: $navbar-dark-hover-color;
		}
	}
}
.text-bg-dark,
.text-bg-secondary {
	.breadcrumb li::before,
	::marker {
		color: inherit;
	}
}

// Hero

.hero {
	color: #FFFFFF;
	height: 400px;
	@include media-breakpoint-down(md) {
		background-attachment: scroll;
	}
	@include media-breakpoint-up(lg) {
		height: 100vh;
	}
}
.hero-caption {
	display: flex;
	align-items: flex-end;
	padding: ($spacer * 2) $spacer;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
	h1 {
		font-weight: 600;
	}
	p {
		font-size: $h4-font-size;
	}
	@include media-breakpoint-up(lg) {
		h2, h3 {
				margin: 0;
			& + p {
				margin-top: ($spacer * 1.5);
			}
		}
		p {
			font-size: $h3-font-size;
		}
	}
}
.hero-caption-content {
	@include media-breakpoint-up(lg) {
		width: 100%;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

// Footer

footer {
	padding-top: 0;
}

.region.region-footer {
	padding-top: 5rem;
	@include media-breakpoint-up(sm) {
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(img/footer-bg.webp);
		background-position: 80%;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	@include media-breakpoint-between(md, lg) {
		flex-wrap: wrap;
		.block {
			width: 50%;
			padding-left: 10%;
			align-self: flex-end;
		}
	}
	a img {
		filter: invert(1);
	}
}

.region.region-footer-top {
    background-color: rgba(0, 0, 0, .13);
}

// Frontispiece

.page-node-type-frontispiece,
.page-node-type-page {
	h1 {
		//text-align: center;
	}
	.node__content li {
		margin-bottom: $spacer * .5;
	}
}

// Paragraphs

.twocolumn {
	@include media-breakpoint-up(lg) {
		columns: 2 auto;
		column-gap: 4rem;
	}
	h2.subtitle {
		column-span: all;
		color: var(--bs-secondary);
		text-align: center;
		.text-bg-secondary & {
			color: white;
		}
	}
}
.paragraph--type--mode {
	display: none;
}

// Timeline

ul.timeline-list li.timeline-item .timeline-item-wrapper span.timeline-marker {
	width: 16px;
    height: 16px;
	border: 3px solid var(--bs-secondary);
}
ul.timeline-list:after {
    background-color: var(--bs-secondary);
}

// Media gallery Views

.gallery-media-col {
	columns: 2 auto;
	column-gap: 0.5rem;
	@include media-breakpoint-up(md) {
		columns: 3 auto;
	}
	@include media-breakpoint-up(lg) {
		columns: 4 auto;
	}
	@include media-breakpoint-up(xl) {
		columns: 6 auto;
	}
}
/*.media-gallery {
	@include media-breakpoint-up(md) {
		.odd:hover, .even:hover {
			img {
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				transform: scale(1.035);
			}
		}
	}
}*/
.gallery-gallery {
	.odd, .even {
		position: relative;
		margin-bottom: 0.5rem;
	}
	.overlay-content {
		display: none;
	}
	@include media-breakpoint-up(md) {
		.odd .overlay {
			bottom: 100%;
			height: 0;
		}
		.even .overlay {
			bottom: 0;
			height: 0;
		}
		.overlay {
			position: absolute;
			left: 0;
			right: 0;
			background-color: var(--bs-secondary);
			overflow: hidden;
			width: 100%;
			transition: .5s ease;
		}
		.overlay-content {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
				a {
					color: white;
				}
		}
		.odd:hover,
		.even:hover {
			.overlay {
				height: 100%;
			}
			.overlay-content {
				padding: 2rem;
				display: block;
			}
		}
		.odd:hover {
			.overlay {
				bottom: 0;
			}
		}
	}
}

.glightbox-mobile .glightbox-container .gslide-description {
	@include media-breakpoint-down(md) {
		padding-bottom: 0.5rem;
	}
}

.gallery-media-container {
	@include media-breakpoint-up(lg) {
		display: flex;
		height: 290px;
		.box {
			flex: 1;
			overflow: hidden;
			transition: .5s ease;
			margin-right: 24px;
			line-height: 0;
			&:last-child {
				margin-right: 0;
			}
			a > img {
				object-fit: cover; 
				transition: .5s ease;
				height: 290px;
			}
			span {
				display: none;
			}
			&:hover {
				flex: 1 1 50%;
				a > img {
					width: 100%;
					height: 242px;
				}
				span {
					display: block;
				}
			}
		}
	}
}


.media-container {
		.overlay {
			left: 0;
			right: 0;
			overflow: hidden;
			transition: .5s ease;
			bottom: 0;
			height: 0;
		@include media-breakpoint-up(sm) {
			height: 25%;
		}
	}
	@include media-breakpoint-up(md) {
		&:hover {
			.overlay {
				height: 0;
			}
		}
	}
}

.view-media-gallery .media-container {
	.overlay {
		height: 0;
	}
	@include media-breakpoint-up(md) {
		&:hover {
			.overlay {
				height: 33%;
			}
		}
	}
}